<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INCUBA UNAS - Transformando el ecosistema emprendedor de la Amazonía</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header__container">
            <a href="#" class="header__logo">
                <%= image_tag 'logo-incuba.png', alt: 'INCUBA UNAS Logo', class: 'header__logo--image' %>
            </a>

            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Programas</a></li>
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Nosotros</a></li>
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Portafolio</a></li>
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Testimonios</a></li>
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Equipo</a></li>
                    <li class="nav__item"><a href="#" class="nav__link hvr-underline-from-center">Servicios</a></li>
                </ul>
            </nav>
            <a href="#" class="header__contact-btn btn btn--outline">Iniciar Sesión</a>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero__container">
            <div class="hero__content">
                <h1 class="hero__title ">
                    <span class="hero__title-line">Transformando el Ecosistema</span>
                    <span class="hero__title-line">Emprendedor de la Amazonia</span>
                </h1>
                <p class="hero__description">
                    Impulsando la transformación del ecosistema emprendedor en la Amazonía con innovación, talento local y sostenibilidad.
                </p>
                <div class="hero__buttons">
                    <a href="#" class="hero__btn btn btn--primary">Programas</a>
                    <a href="#" class="hero__btn btn btn--secondary">Únete a Nosotros</a>
                </div>
                <div class="hero__stats">
                    <div class="hero__stat-item">
                        <span class="hero__stat-number">1.2K</span>
                        <span class="hero__stat-label">Estudiantes</span>
                    </div>
                    <div class="hero__stat-divider"></div>
                    <div class="hero__stat-item">
                        <span class="hero__stat-number">15</span>
                        <span class="hero__stat-label">Mentores</span>
                    </div>
                    <div class="hero__stat-divider"></div>
                    <div class="hero__stat-item">
                        <span class="hero__stat-number">500</span>

                        <span class="hero__stat-label">Recursos</span>
                    </div>
                </div>
            </div>
            <div class="hero__images">
                <div class="hero__image-container hero__image-container--top">
                    <%= image_tag 'hero-1.png', alt: 'hero 1', class: 'hero__image' %>
                    <div class="hero__image-decoration hero__image-decoration--bird">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 7.5L12 2L3 7.5M21 7.5V16.5L12 22M21 7.5L12 13M12 22L3 16.5V7.5M12 22V13M3 7.5L12 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                
                <div class="hero__decoration hero__decoration--star">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" fill="#8BC34A" stroke="#8BC34A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="hero__decoration hero__decoration--star__right">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" fill="#8BC34A" stroke="#8BC34A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="hero__decoration hero__decoration--star__left">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" fill="#8BC34A" stroke="#8BC34A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="hero__decoration hero__decoration--dot">
                    <div class="hero__dot"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services section -->
    <div class="service-grid__container">
        
        <h3 class="service-grid__title">Nuestros Programas</h3>
        <div class="service-grid">
            <!-- Service Card 1 -->
            <div class="service-card btn">
                <div class="hero__image-decoration hero__image-decoration--circles">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 7.5L12 2L3 7.5M21 7.5V16.5L12 22M21 7.5L12 13M12 22L3 16.5V7.5M12 22V13M3 7.5L12 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="service-card__image-container">
                    <%= image_tag 'evento-alimentaferia.png', alt: 'INCUBA UNAS Logo', class: 'service-card__image' %>
                    <div class="service-card__color-indicator product-card__color-indicator--peach"></div>
                </div>
                <div class="service-card__content">
                    <h3 class="service-card__title">Preincubacion</h3>
                    <p class="service-card__description">Es la primera etapa del proceso de desarrollo emprendedor, diseñada para transformar ideas innovadoras en proyectos viables. Si tienes una idea de emprendimiento y no sabes por dónde empezar, ¡Estamos aquí para ayudarte!</p>
                    <div class="service-card__corner product-card__corner--green">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="service-card__arrow">
                            <path d="M5 12h14"></path>
                            <path d="m12 5 7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>
        
        
            <!-- Service Card 2 -->
            <div class="service-card btn">
                <div class="service-card__image-container">
                    <%= image_tag 'evento-festilibro.png', alt: 'INCUBA UNAS Logo', class: 'service-card__image' %>
                    <div class="service-card__color-indicator product-card__color-indicator--mint"></div>
                </div>
                <div class="service-card__content">
                    <h3 class="service-card__title">Incubación</h3>
                    <p class="service-card__description">Si ya cuentas con un proyecto en marcha y buscas llevarlo al siguiente nivel, ¡Nuestro programa de incubación es para ti! Únete y haz crecer tu emprendimiento con el respaldo de expertos y una comunidad de innovación.</p>
                    <div class="service-card__corner product-card__corner--orange">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="service-card__arrow">
                            <path d="M5 12h14"></path>
                            <path d="m12 5 7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>
        
            <!-- Service Card 3 -->
            <div class="service-card btn">
                <div class="service-card__image-container">
                    <%= image_tag 'evento-mercaferia.png', alt: 'INCUBA UNAS Logo', class: 'service-card__image' %>
                    <div class="service-card__color-indicator product-card__color-indicator--lavender"></div>
                </div>
                <div class="service-card__content">
                    <h3 class="service-card__title">Open Innovation</h3>
                    <p class="service-card__description">Conecta emprendedores, empresas, instituciones y expertos del ecosistema de innovación para co-crear soluciones a desafíos reales del mercado. Únete a la revolución de la innovación abierta y sé parte del cambio.</p>
                    <div class="service-card__corner product-card__corner--purple">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="service-card__arrow">
                            <path d="M5 12h14"></path>
                            <path d="m12 5 7 7-7 7"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <section class="team">
        <div class="team__container">
            <div class="team__header">
                <h2 class="team__title">Nuestro Equipo</h2>
                <p class="team__subtitle">Te presentamos a nuestro brillante equipo, una mezcla enérgica de profesionales motivados por el compromiso y la inventiva.</p>
            </div>
            
            <div class="team__grid">
                <!-- Team Member 1 -->
                <div class="team-card">
                    <div class="team-card__image-wrapper">
                        <%= image_tag 'melisa_zavala.png', alt: 'team manager', class: 'team-card__image' %>
                    </div>
                    <div class="team-card__content team-card__content--blue">
                        <h3 class="team-card__name">Mg. Melisa Zavala Guerrero</h3>
                        <p class="team-card__position">Directora de INCUBA UNAS</p>
                        <div class="team-card__social">
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Team Member 2 -->
                <div class="team-card">
                    <div class="team-card__image-wrapper">
                        <%= image_tag 'carlos_hidalgo.png', alt: 'team manager', class: 'team-card__image' %>
                    </div>
                    <div class="team-card__content team-card__content--primary">
                        <h3 class="team-card__name">Econ. Pedro Pérez Pinedo</h3>
                        <p class="team-card__position">Coordinador de Programas</p>
                        <div class="team-card__social">
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Team Member 3 -->
                <div class="team-card">
                    <div class="team-card__image-wrapper">
                        <%= image_tag 'pedro.png', alt: 'team manager', class: 'team-card__image' %>
                    </div>
                    <div class="team-card__content team-card__content--green">
                        <h3 class="team-card__name">Lic. Carlos Hidalgo Gomez</h3>
                        <p class="team-card__position">Esp. en emprendimiento e innovación</p>
                        <div class="team-card__social">
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Team Member 4 -->
                <div class="team-card">
                    <div class="team-card__image-wrapper">
                        <%= image_tag 'steven.png', alt: 'team manager', class: 'team-card__image' %>
                    </div>
                    <div class="team-card__content team-card__content--green">
                        <h3 class="team-card__name">Lic. Adm. Steven Nieto</h3>
                        <p class="team-card__position">Esp. en Marketing</p>
                        <div class="team-card__social">
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="team-card__social-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__column">
                <h3 class="footer__title">Contacto</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                    <span class="footer__text">+51 922 012 421</span>
                    </li>
                    <li class="footer__item">
                    <span class="footer__text">incubaunas@unas.edu.pe</span>
                    </li>
                    <li class="footer__item">
                    <span class="footer__text">Carretera Central km. 1.21; Tingo María</span>
                    </li>
                </ul>
            </div>

            <div class="footer__column">
            <h3 class="footer__title">Servicios</h3>
            <ul class="footer__list">
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Programas</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Nosotros</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Portafolio</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Testimonios</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Equipo</a>
                </li>
            </ul>
            </div>

            <div class="footer__column">
            <h3 class="footer__title">Enlaces de Interés</h3>
            <ul class="footer__list">
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">UNAS</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">PRO Innóvate</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Ministerio de la Producción</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Servicios Incuba UNAS</a>
                </li>
                <li class="footer__item">
                <a href="#" class="footer__link hvr-underline-from-center">Contáctenos</a>
                </li>
            </ul>
            </div>

            <div class="footer__column footer__column--wide">
            <div class="footer__image-content">
                <%= image_tag 'logo_blanco.png', alt: 'team manager', class: 'footer__image' %>
            </div>
            <p class="footer__text">
                Impulsando la transformación del ecosistema emprendedor en la Amazonía con innovación, talento local y sostenibilidad.
            </p>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__copyright">
            <p class="footer__text footer__text--small">
                Copyright © 2025, INCUBA UNAS. | 
                <a href="#" class="footer__link footer__link--highlight">CodeNote - Construcción 2</a>
            </p>
            </div>
            <div class="footer__social">
            <a href="#" class="footer__social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="footer__social-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="footer__social-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer__social-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag 'countdown', 'data-turbo-track': 'reload' %>
</body>